<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        html, body {
            height: 100%;
        }

        body {
            background: url(https://upload.wikimedia.org/wikipedia/commons/0/0c/GoldenGateBridge-001.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        table {
            color: black;
            font-weight:bold;
        }
        h2{
            color:black;
        }
        blockquote {
            font-weight: bold;
        }
        h1 {
            font-weight: bold;
            text-align:center;
        }
    </style>
</head>

<body ng-app="ElnokApp" ng-controller="AppCtrl" ng-cloak>
    <h1 class="h1">Az USA elnökei</h1>
    <p>Az oldal célja bemutatni az Amerikai Egyesült Államok összes eddigi elnökét George Washingtontól egészen Donald Trumpig</p><br />
    <blockquote class="blockquote">
        <p class="mb-0">Mi tehát az Amerikai Egyesült Államok Képviselői, Általános Kongresszusba Összegyűlve a világ Legfelsőbb Bírájának ajánlva szándékaink tisztaságát, e Gyarmatok becsületes Népe Nevében és Felhatalmazása alapján, ünnepélyesen kinyilvánítjuk és kihirdetjük, Hogy ezek az Egyesült Gyarmatok immár természetüknek és joguknál fogva, Szabad és Független Államok; Hogy a Brit Korona iránti Alattvalói Hűség alól Felszabadultak, és hogy minden politikai kötelék, amely e gyarmatokat Nagybritánniához fűzte, megszakadt, illetőleg teljességgel meg kell szakadnia; és hogy mint Szabad és Független Államok, teljes Hatalmuk van Háborút viselni, Békét kötni, Szövetségre lépni, Kereskedelmet űzni és Mindazt tenni, amire Független Államok jogosultak. Az Isteni Gondviselés Védelmébe vetett szilárd hittel, mindnyájan kölcsönösen felajánljuk e nyilatkozat támogatására Életünket, Vagyonunkat és szent Becsületünket.</p>
        <footer class="blockquote-footer">John Hancock <cite title="Source Title">Az amerikai
Egyesült Államok népének
Függetlenségi
Nyilatkozata</cite></footer>
    </blockquote>
    <!-- Content here -->
    <ol>
        <select id="mySelect" class="form-control" ng-model="selectedPres" ng-options="elnok.Name for elnok in elnoks">  </select>
    </ol>
    <h2 class="h2" ng-if="selectedPres">Az Amerikai Egyesült Államok {{selectedPres.Id}}. elnöke</h2>
    <table class="table" id="mytable" ng-if="selectedPres">
        <tr>
            <th rowspan="9"><img src="{{selectedPres.kep}}" alt="{{selectedPres.Name}}" width="300" height="300"></th>
        </tr>
        <tr>
            <td>Név:{{selectedPres.Name}}</td>
        </tr>
        <tr>
            <td>Született:{{selectedPres.birth}}</td>
        </tr>
        <tr>
            <td>Meghalt:{{selectedPres.death}}</td>
        </tr>
        <tr>
            <td>Elnöksége:{{selectedPres.presidency}}</td>
        </tr>
        <tr>
            <td>
                Elnöki eredményei
                <ul>
                    <li ng-if="selectedPres">{{selectedPres.good_1}}</li>
                    <li ng-if="selectedPres">{{selectedPres.good_2}}</li>
                    <li ng-if="selectedPres">{{selectedPres.good_3}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Elnöki hibái
                <ul>
                    <li ng-if="selectedPres">{{selectedPres.bad_1}}</li>
                    <li ng-if="selectedPres">{{selectedPres.bad_2}}</li>
                    <li ng-if="selectedPres">{{selectedPres.bad_3}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td ng-if="selectedPres">Egy érdekes tény:{{selectedPres.funfact}}</td>
        </tr>
    </table>

    <!-- Angular Material requires Angular.js Libraries and Boostrap-->


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Angular Material Library -->

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->

    <script type="text/javascript">

        var am = angular.module('ElnokApp', ['ngMaterial']);
        am.controller('AppCtrl', function ($scope, $http) {
            $scope.selectedPres = null;
            $scope.elnoks = [];
            $scope.StillAlive = function () {

            }
            $scope.getElnok = function () {
                return $http(
                    {
                        url: `api/elnokoks/`,
                        method: "GET"
                    }
                    ).success(
                    function (data) { $scope.elnoks = data }

                    ).error(
                        function(data){alert("error..")}
                    );;
            }
            $scope.getElnok();
        });

    </script>
</body>
</html>